spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
spring.sql.init.mode=
spring.jpa.hibernate.ddl-auto=
spring.jpa.defer-datasource-initialization=
spring.jpa.properties.hibernate.dialect=
